.personArc {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.personArcInCoupleIdx0 {
  fill: lightblue;
}

.personArcInCoupleIdx1 {
  fill: lightpink;
}

.descendantPersonArc {
  fill: lightskyblue;
}
