@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700");

:root {
  --page-size: a4 landscape;
  --page-width: 210mm;
  --page-height: 297mm;
  --page-margin-in: 0;
  --page-marin-out: 0;
  --page-margin-top: 0;
  --page-margin-bottom: 0;
}

.page {
  width: var(--page-width);
  height: var(--page-height);
  padding-top: var(--page-margin-top);
  padding-bottom: var(--page-margin-bottom);
  margin: 10mm auto;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-wrap: wrap;
}

.page.rightSide {
  padding-left: var(--page-margin-in);
  padding-right: var(--page-marin-out);
}

.page.leftSide {
  padding-left: var(--page-marin-out);
  padding-right: var(--page-margin-in);
}

@page {
  size: var(--page-size);
}

@media print {
  .page {
    page-break-after: always;
    margin: 0;
  }
  header,
  footer,
  .photoBook-header {
    display: none;
  }
}

.pageNum {
  bottom: 15px;
  position: absolute;
  text-decoration: none;
  color: black;
  padding: 4px 4px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.7));
  margin: 4px;
  font-size: 0.8em;
}
.page.rightSide .pageNum {
  left: calc(25px + var(--page-marin-out));
}

.page.leftSide .pageNum {
  margin-right: calc(25px + var(--page-margin-in));
  right: 0;
}

.photosPage-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photosPage-page-medium {
  flex-basis: 1;
}

.photosPage-page-medium img {
  max-width: 100%;
  max-height: 100%;
}

.photosPage-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartContainer {
  margin: 0px auto;
  display: block;
}

/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */
/* @import url('https://fonts.cdnfonts.com/css/freestyle-script'); */
